@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
  /* Alert */
  --color-alert-error-bg: #3D0E17B3;
  --color-alert-error-border: #F61F1E;
  --color-alert-spinner-bg: #1A1D1F;
  --color-alert-spinner-border: #1A1D1F;
  --color-alert-text: #777E90;
  /* Empty state */
  --color-empty-state-subtitle: #777E90;
  --color-empty-state-bg: #1A1D1F;
  /* Form input */
  --color-input-error-text: #F62120;
  --color-input-placeholder: #FFFFFF80;
  --color-input-border-error: #F62120;
  --color-input-border-error-hover: #cc5d5d;
  --color-input-border: #313639;
  --color-input-border-hover: #545d61;
  --color-input-disabled-text: #FFFFFF80;
  --color-input-bg: #11151D;
  /* Other */
  --color-spinner-accent: #FFAB40;
  --color-form-bg: #1A1D1F;
  --color-page-bg: #111315;
  --font-title: "Poppins", "sans-serif";
  --font-text: "Roboto", "sans-serif";
}

* {
  @apply box-border;
}

body {
  @apply min-h-dvh font-text bg-page-bg flex items-stretch;
}
